{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    공용 타임라인
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}의 타임라인
  {% else %}
    내 타임라인
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_timeline' %}
      <div class=followstatus>
      {% if g.user.user_id == profile_user.user_id %}
        당신이요!
      {% elif followed %}
        이 사용자를 팔로우 하고 있습니다.
        <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">이 사용자를 언팔로우 하기</a>.
      {% else %}
        이 사용자를 아직 팔로우 하고 있지 않습니다..
        <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
          }}">이 사용자를 팔로우 하기</a>.
      {% endif %}
      </div>
    {% elif request.endpoint == 'timeline' %}
      <div class=twitbox>
        <h3>기분이 어떠세요, {{ g.user.username }}?</h3>
        <form action="{{ url_for('add_message') }}" method=post>
          <p><input type=text name=text size=60>
          <input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
  {% for message in messages %}
    <li><img src="{{ message.email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('user_timeline', username=message.username)
      }}">{{ message.username }}</a></strong>
      {{ message.text }}
      <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
  {% else %}
    <li><em>등록된 메시지가 존재하지 않습니다.</em>
  {% endfor %}
  </ul>
{% endblock %}
